ul#icons
  li#rss
    a(href='http://oivoodoo.tumblr.com/rss', title='Subscribe to my RSS-feed', target='_blank')
      strong RSS
  li#followme
    a(href='http://twitter.com/oivoodoo', title='Follow me on twitter', target='_blank')
      strong Twitter
  li#facebook
    a(href='http://www.facebook.com/alexander.korsak', title='Show my facebook page', target='_blank')
      strong Facebook
  li#email
    a(href='mailto:alex.korsak@gmail.com', title='Contacts me')
      strong Email

